
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Valeur standard : 100 (fin) à 900 (gras) */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background-color: #124660;
  color: #f0eaeae7;
}

/* topbar.css */

/* .topbar {
  background-color:#f9e30c;
  color: #fff;
  font-size: 0.85rem;
  padding: 0.4rem 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.topbar-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.topbar-content span a {
  color: #f9e30c;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .topbar-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
} */

