
html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Valeur standard : 100 (fin) à 900 (gras) */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

body.dark {
  background-color: #124660;
  color: #f0eaeae7;
}

/* Sticky footer layout (flex) - placez en haut du fichier CSS global */

html, body, #root {
  height: 100%;
}

/* site-wrapper : layout vertical complet */

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* site-main prend l'espace restant et pousse le footer en bas */
.site-main {
  flex: 1 1 auto;
  /* facultatif : si tu veux un padding latéral ou vertical */
  /* padding: 1rem 0; */
}
